<html lang="ZH" xmlns:th="http://www.thymeleaf.org">
    <div id="permission">
        <div class="handle-box">
            <el-button type="primary" icon="delete">批量刪除</el-button>
            <el-select v-model="value" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
            <el-input v-model="input" style="width: 200px;" placeholder="请输入内容"></el-input>
            <el-input v-model="tree" style="width: 200px;" @focus="showTree($event)" placeholder="请选择部门"></el-input>
            <el-button type="primary" icon="search">搜索</el-button>
            <el-button type="primary" icon="add" @click="addDialogVisible = true">添加</el-button>
        </div>
        <div class="table">
            <el-table ref="table" :data="piermissions" border tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column label="名称" sortable width="120">
                    <template scope="scope">{{ scope.row.date }}</template>
                </el-table-column>
                <el-table-column prop="name" label="姓名" sortable width="120">
                </el-table-column>
                <el-table-column prop="address" label="地址" show-overflow-tooltip>
                </el-table-column>
                <el-table-column label="操作">
                    <template scope="scope">
                        <el-button type="success" size="small">编辑</el-button>
                        <el-button type="error" size="small">删除</el-button>
                    </template>
                </el-table-column>

            </el-table>
            <div style="margin-top: 20px">
                <el-button @click="toggleSelection([tableData3[1], tableData3[2]])">切换第二、第三行的选中状态</el-button>
                <el-button @click="toggleSelection()">取消选择</el-button>
            </div>
            <div class="pagination">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="4000">

                </el-pagination>
            </div>
        </div>
        <div th:replace="/permission/add :: add"></div>
        <div th:replace="/permission/edit :: edit"></div>

    </div>

    <style>
        .handle-box {
            margin-bottom: 20px;
        }

        .pagination {
            margin: 20px 0;
            text-align: right;
        }
    </style>
    <script th:src="@{/js/permission/list.js}" type="text/javascript" charset="utf-8"></script>
</html>