<el-dialog th:fragment="add" title="添加菜单" :visible.sync="addDialogVisible" :close-on-click-modal=false :close-on-press-escape=false :show-close=false>
    <el-form :model="menu">
        <el-input v-model="menu.parentId" type="hidden"></el-input>
        <el-form-item label="上级菜单" :label-width="formLabelWidth">
            <el-input v-model="menu.parentName" @focus="selectParent($event)" placeholder="选择上级菜单"></el-input>
        </el-form-item>
        <el-form-item label="名称" :label-width="formLabelWidth">
            <el-input v-model="menu.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="类型" :label-width="formLabelWidth">
            <el-radio class="radio" v-model="menu.type" label="menu">菜单</el-radio>
            <el-radio class="radio" v-model="menu.type" label="button">按钮</el-radio>
        </el-form-item>
        <el-form-item label="路径" :label-width="formLabelWidth">
            <el-input v-model="menu.url" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="权限字符串" :label-width="formLabelWidth">
            <el-input v-model="menu.permission" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="顺序" :label-width="formLabelWidth">
            <el-input-number v-model="menu.menuOrder" :min="1" :max="10"></el-input-number>
        </el-form-item>
        <el-form-item label="图标" :label-width="formLabelWidth">
            <el-input v-model="menu.icon" auto-complete="off"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog('addDialogVisible')">取 消</el-button>
        <el-button type="primary" @click="doAdd">保 存</el-button>
    </div>
</el-dialog>