<el-dialog th:fragment="edit" title="编辑" :visible.sync="editDialogVisible" :close-on-click-modal=false :close-on-press-escape=false :show-close=false>
    <el-form :model="menu" :rules="rules" ref="form" label-width="100px">
        <el-input v-model="menu.parentId" type="hidden"></el-input>
        <el-form-item label="上级菜单">
            <el-input v-model="menu.parentName" @focus="selectParent($event)" placeholder="选择上级菜单"></el-input>
        </el-form-item>
        <el-form-item label="名称" prop="name">
            <el-input v-model="menu.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="类型">
            <el-radio class="radio" v-model="menu.type" label="MENU">菜单</el-radio>
            <el-radio class="radio" v-model="menu.type" label="PERMISSION">权限</el-radio>
        </el-form-item>
        <el-form-item label="路径" prop="url">
            <el-input v-model="menu.url" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="顺序">
            <el-input-number v-model="menu.menuOrder" :min="1" :max="10"></el-input-number>
        </el-form-item>
        <el-form-item label="图标">
            <el-input v-model="menu.icon" auto-complete="off"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="doSave">保 存</el-button>
    </div>
</el-dialog>