<html lang="ZH" xmlns:th="http://www.thymeleaf.org">
    <div id="role">
        <div class="handle-box">
            <el-input v-model="input" style="width: 200px;" placeholder="请输入名称"></el-input>
        </div>
        <div class="toolbar">
            <el-button type="primary" icon="search">搜索</el-button>
            <el-button type="primary" icon="add" @click="goAdd">添加</el-button>
        </div>
        <div class="table">
            <el-table height="500" ref="table" :data="roles" border tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column prop="name" label="名称" width="120">
                </el-table-column>
                <el-table-column prop="code" label="标识" width="200">
                </el-table-column>
                <el-table-column label="操作">
                    <template scope="scope">
                        <el-button type="primary" size="small" @click="goUpdate(scope.row.id)">编辑</el-button>
                        <el-button type="success" size="small" @click="goSelectMenu(scope.row.id)">设置权限</el-button>
                        <el-button type="danger" size="small" @click="doDelete(scope.row.id)">删除</el-button>
                    </template>
                </el-table-column>

            </el-table>
            <div class="pagination">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="4000">

                </el-pagination>
            </div>
        </div>
        <!-- 添加用户对话框 -->
        <div th:replace="/role/add :: add"></div>
        <!-- 编辑用户对话框 -->
        <div th:replace="/role/edit :: edit"></div>

        <el-dialog title="设置权限" :visible.sync="selectMenuDialogVisible" :close-on-press-escape=false :show-close=false>
            <el-tree :data="menuTrees" ref="menuTree" node-key="id" show-checkbox :default-checked-keys="selectedMenus" :props="defaultProps">

            </el-tree>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancelSelect">取 消</el-button>
                <el-button type="primary" @click="confirmSelect">确 定</el-button>
            </div>
        </el-dialog>
    </div>

    <script th:src="@{/js/role/list.js}" type="text/javascript" charset="utf-8"></script>
</html>